.jet-woo-btn-with-custom-icon-wrapper {
	display: inline;

	.button.add_to_cart_button,
	.button.single_add_to_cart_button {
		&:before {
			content: none !important;
		}
	}

	.button.single_add_to_cart_button.added {
		&::after {
			display: none;
		}

		.button-icon {
			> * {
				display: none;
			}

			&::before {
				font-family: WooCommerce;
				content: "\e017";
			}
		}
	}
}

.jet-woo-button-content {
	display: flex;
	align-items: center;
	justify-content: center;

	.button-icon {
		display: flex;
		line-height: 1;

		svg {
			height: 1em;
			width: 1em;
		}
	}
}